<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceuil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/Assets/css/style.css">
</head>

<body>
    <header></header>
    <main class="index">
        <!-- heading -->
        <div class="section-image image-head text-center bg-image">
            <div class="mask">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white">
                        <h1 class=" title ">Derrière chaque produit il y a un(e) marocain(e), une vie, une histoire…
                        </h1>
                        <a href="#">
                            <button class="first-color p-2 mt-5 rounded-2 title">découvrir plus</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Notre mission section -->
        <div class="mission text-center py-5 row">
            <h2 class="title">notre mission</h2>
            <div class="first-misson  row align-self-center ">
                <div class="description col-lg-6 p-5 align-self-center">
                    <h4 class="title ">Nous mettons en avances les differents produits locaux et leurs origines</h4>
                    <p class="text-secondary ">Notre objectif principale est de Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat, augue a volutpat hendrerit, sapien</p>
                </div>
                <div class="image col-lg-6">
                    <img src="../public/Assets/images/mission-1.jpg" alt="moroccan avenue">
                </div>
            </div>
            <div class="second-misson row align-self-center">
                <div class="image col-lg-6">
                    <img src="../public/Assets/images/mission-2.jpg" alt=" ">
                </div>
                <div class="description col-lg-6 p-5  align-self-center">
                    <h4 class="title ">Nous aidons les créateurs et les commerçants locaux</h4>
                    <p class="text-secondary ">Support des individus et cooperations marocains est notre priorité .Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat, augue a volutpat hendrerit, sapien </p>
                </div>


            </div>

        </div>
        <!-- section decouvrir 1-->

        <div class="decouvert">
            <div class="section-image image-dec1 text-center bg-image">
                <div class="mask">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="text-white">
                            <h1 class="title ">les lamps de marrakech</h1>
                            <p>Une variété de choix</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="call-to-action text-center">
                <p class="text-secondary fs-4 m-5">Découvrir une multitude de choix des lamps 100% MADE IN MARRAKESH</p>
                <a href="#">
                    <button class="second-color p-3 mb-5 rounded-2 text-light border-0">Découvrir LES made in marrakesh</button>
                </a>
            </div>
        </div>
        <!-- Produit populaires -->
        <div class="produit-pop mb-5">
            <h2 class="title m-5">produits similaires</h2>
            <div class="d-flex flex-row flex-nowrap overflow-auto justify-content-between gap-5">
                <div class="prod">
                    <div class="card shadow" style="width: 18rem">
                        <img clas="card-img-top" src="../public/Assets/images/babouche-gravee-noire.jpg" alt=" " />
                        <div class="card-body text-center">
                            <h5>Babouche noire femme</h5>
                            <p>
                                Babouche femme noire Babouche originale de cuire à 100% décorer en blanc
                            </p>
                            <p>
                                Categorie: Vêtements et accessoires PRIX:
                                <span class="price">DH200.00</span>
                            </p>
                            <a href="#">
                                <button class="btn btn-outline-dark p-3 my-2 rounded-2 border-1">
                    Ajouter au panier
                  </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="prod">
                    <div class="card shadow" style="width: 18rem">
                        <img clas="card-img-top" src="../public/Assets/images/babouche-gravee-noire.jpg" alt=" " />
                        <div class="card-body text-center">
                            <h5>Babouche noire femme</h5>
                            <p>
                                Babouche femme noire Babouche originale de cuire à 100% décorer en blanc
                            </p>
                            <p>
                                Categorie: Vêtements et accessoires PRIX:
                                <span class="price">DH200.00</span>
                            </p>
                            <a href="#">
                                <button class="btn btn-outline-dark p-3 my-2 rounded-2 border-1">
                    Ajouter au panier
                  </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="prod">
                    <div class="card shadow" style="width: 18rem">
                        <img clas="card-img-top" src="../public/Assets/images/babouche-gravee-noire.jpg" alt=" " />
                        <div class="card-body text-center">
                            <h5>Babouche noire femme</h5>
                            <p>
                                Babouche femme noire Babouche originale de cuire à 100% décorer en blanc
                            </p>
                            <p>
                                Categorie: Vêtements et accessoires PRIX:
                                <span class="price">DH200.00</span>
                            </p>
                            <a href="#">
                                <button class="btn btn-outline-dark p-3 my-2 rounded-2 border-1">
                    Ajouter au panier
                  </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="prod">
                    <div class="card shadow" style="width: 18rem">
                        <img clas="card-img-top" src="../public/Assets/images/babouche-gravee-noire.jpg" alt=" " />
                        <div class="card-body text-center">
                            <h5>Babouche noire femme</h5>
                            <p>
                                Babouche femme noire Babouche originale de cuire à 100% décorer en blanc
                            </p>
                            <p>
                                Categorie: Vêtements et accessoires PRIX:
                                <span class="price">DH200.00</span>
                            </p>
                            <a href="#">
                                <button class="btn btn-outline-dark p-3 my-2 rounded-2 border-1">
                    Ajouter au panier
                  </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="prod">
                    <div class="card shadow" style="width: 18rem">
                        <img clas="card-img-top" src="../public/Assets/images/babouche-gravee-noire.jpg" alt=" " />
                        <div class="card-body text-center">
                            <h5>Babouche noire femme</h5>
                            <p>
                                Babouche femme noire Babouche originale de cuire à 100% décorer en blanc
                            </p>
                            <p>
                                Categorie: Vêtements et accessoires PRIX:
                                <span class="price">DH200.00</span>
                            </p>
                            <a href="#">
                                <button class="btn btn-outline-dark p-3 my-2 rounded-2 border-1">
                    Ajouter au panier
                  </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- section decouvrir 2 -->
        <div class="decouvert">
            <div class="section-image image-dec2 text-center bg-image">
                <div class="mask">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="text-white">
                            <h1 class="title ">LES TAPIS DE Fès </h1>
                            <p>Faites uniquement manuelement par des marocain(e)s</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="call-to-action text-center ">
                <p class="text-secondary fs-4 m-5">Découvrir une multitude de choix des tapis 100% MADE IN Fès</p>
                <a href="#">
                    <button class="second-color p-3 mb-5 rounded-2 text-light border-0">Découvrir LES made in fès</button>
                </a>
            </div>
        </div>

        <!-- section histoire -->
        <div class="d-flex justify-content-center">
            <div class="histoire container m-5 text-center">
                <h2 class="title mb-5">Histoires des commerçants locaux </h2>
                <div class="container">
                    <img src="../public/Assets/images/histoire-sec.png" class="w-100" alt=" ">
                </div>
                <div class="call-to-action">
                    <p class="text-secondary fs-4 m-5">Derrière chaque produit il y a un Artisan, une vie, une histoire…</p>

                    <a href="#">
                        <button class="second-color p-3 mb-5 rounded-2 text-light border-0">NOUS CONNAITRE PLUS</button>
                    </a>
                </div>
            </div>
        </div>

        <!-- section commerçants -->
        <div class="mission container m-5 row align-self-center">
            <div class="container-fluid ">
                <div class="image col-lg-6">
                    <img src="../public/Assets/images/register-action.jpg" alt="handemader">
                </div>
                <div class="description col-lg-6 row align-self-center ">
                    <h4 class="title ">êtes-vous un marocain ou une marocaine qui fabrique des produits 100% MADE IN MOROCCO?</h4>
                    <p class="text-secondary my-5 fs-5">Rejoignez-nous! Postuler une demande d’inscription à travers des étapes simples. Et commencer à vendre vos produit sur MADE IN MOROCCO</p>
                    <a href="#">
                        <button class="bg-transparent p-3 mb-5 rounded-2  border-1">Nous rejoindre</button>
                    </a>
                </div>

            </div>
        </div>
    </main>
    <footer></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js " integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM " crossorigin="anonymous "></script>

</body>

</html>